In [2]:
import pandas as pd

In [22]:
data=r'C:\NullClass Internship Data Analysis\Data1_Task1.csv'

In [24]:
df=pd.read_csv(data)

In [28]:
df.head(20)

,Company Name,Job Title,Role,Count Of UI/UX Designers
0,Accenture,UI/UX Designer,User Experience Designer,80
1,Airbnb,UI/UX Designer,User Experience Designer,60
2,Amazon,UI/UX Designer,User Experience Designer,100
3,Dropbox,UI/UX Designer,User Experience Designer,50
4,Facebook (Meta),UI/UX Designer,User Experience Designer,130
5,Google,UI/UX Designer,User Experience Designer,150
6,Hewlett Packard (HP),UI/UX Designer,User Experience Designer,75
7,Infosys,UI/UX Designer,User Experience Designer,100
8,Microsoft,UI/UX Designer,User Experience Designer,120
9,Netflix,UI/UX Designer,User Experience Designer,75
10,Oracle,UI/UX Designer,User Experience Designer,70
11,PayPal,UI/UX Designer,User Experience Designer,60
12,Pinterest,UI/UX Designer,User Experience Designer,65
13,Qualcomm,UI/UX Designer,User Experience Designer,55
14,Salesforce,UI/UX Designer,User Experience Designer,85
15,Shopify,UI/UX Designer,User Experience Designer,65
16,Siemens AG,UI/UX Designer,User Experience Designer,50
17,Spotify,UI/UX Designer,User Experience Designer,55
18,Tata Consultancy Services,UI/UX Designer,User Experience Designer,105
19,Twitter (X),UI/UX Designer,User Experience Designer,55

In [30]:
df.index=df.index+1

In [32]:
df.head(21)

,Company Name,Job Title,Role,Count Of UI/UX Designers
1,Accenture,UI/UX Designer,User Experience Designer,80
2,Airbnb,UI/UX Designer,User Experience Designer,60
3,Amazon,UI/UX Designer,User Experience Designer,100
4,Dropbox,UI/UX Designer,User Experience Designer,50
5,Facebook (Meta),UI/UX Designer,User Experience Designer,130
6,Google,UI/UX Designer,User Experience Designer,150
7,Hewlett Packard (HP),UI/UX Designer,User Experience Designer,75
8,Infosys,UI/UX Designer,User Experience Designer,100
9,Microsoft,UI/UX Designer,User Experience Designer,120
10,Netflix,UI/UX Designer,User Experience Designer,75
11,Oracle,UI/UX Designer,User Experience Designer,70
12,PayPal,UI/UX Designer,User Experience Designer,60
13,Pinterest,UI/UX Designer,User Experience Designer,65
14,Qualcomm,UI/UX Designer,User Experience Designer,55
15,Salesforce,UI/UX Designer,User Experience Designer,85
16,Shopify,UI/UX Designer,User Experience Designer,65
17,Siemens AG,UI/UX Designer,User Experience Designer,50
18,Spotify,UI/UX Designer,User Experience Designer,55
19,Tata Consultancy Services,UI/UX Designer,User Experience Designer,105
20,Twitter (X),UI/UX Designer,User Experience Designer,55

In [34]:
df.columns

Index(['Company Name', 'Job Title', 'Role', 'Count Of UI/UX Designers'], dtype='object')